
<div class='contaniner'> 
    <div class='col text-center'>
        <h1>hello world</h1>
    </div>
    <div class= 'row'> 
        <div class='col-10 col-md-5 m-2 mx-auto'>
            <form action="/create-form" class="form" method="POST">
                {% csrf_token %}
                <input type="hidden" value="/" name="next" />
                <textarea class='form-control mb-3' name='content_title' placeholder="title" ></textarea>
                <textarea class='form-control mb-1' name='content' placeholder="your content" ></textarea>
                <button type='submit' class='btn btn-primary '>Tweet</button>
            </form> 

        </div>
    </div>
    <div id='blog' class='bg-home'>Loading...</div>
</div>


<script>
    const blogEl =document.getElementById('blog');
    function loadBlogs(blogHtml ){ 
        const xhr= new XMLHttpRequest();
        const method= 'GET';
        const url= '/blogs';
        const responseType= 'json';
        xhr.responseType= responseType;
        xhr.open(method, url);
        xhr.onload = function(){
            const serverResponse= xhr.response;
            const listedItems= serverResponse.response; //make list of dictionary
            var finalHtml="";
            var i;
            for(i=0;i<listedItems.length;i++){
                console.log(listedItems[i])
                var m=listedItems[i];
                var temp= Blogreturn(m)
                finalHtml+= temp;
            }
            blogHtml.innerHTML= finalHtml;
        };
        xhr.send();
    }
    function likeBttn(blog){
        return "<button class ='btn btn-primary'>Like</button>" 
    }
    function Blogreturn(blog){
        return "<div class='container'><div class='row'><div class='py-2 m-3 mx-auto border rounded bg-home'><h1>"+ blog.content_title + "</h1>" +blog.content+ "<div class='btn-grp'>"+ likeBttn(blog)+"</div></div><div></div>";
    }
    loadBlogs(blogEl);

</script>
{% endblock content %}